<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes Patient</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row p-2">
        <h1 class="p-0">Mediscreen - History Patient</h1>
        <div class="form-group row">
            <label for="staticPatientId" class="col-3 col-sm-2 col-md-2 col-lg-2 col-form-label p-1"><strong>N°
                Patient:</strong></label>
            <div class="col-9 col-sm-10 col-md-10 col-lg-10 p-0">
                <input th:value="${patientId}" type="number" readonly class="form-control-plaintext p-1"
                       id="staticPatientId" value="0">
            </div>
        </div>
    </div>
    <!-- ***************Table******************-->
    <div class="row p-2">
        <table class="table table-bordered ">
            <thead>
            <tr>
                <th>Notes/Recommendations</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${NotesPatient}">
                <td style="width: 60%" th:text="${note.note}"></td>
                <td style="width: 20%" th:text="${note.date}"></td>
                <td style="width: 10%" class="text-center">
                    <a th:href="@{/patHistory/update/{id}(id=${note.patientId})}">Edit</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group row p-2">
        <a href="/patHistory/add" class="btn btn-primary  col-3 col-sm-3 col-md-3 col-lg-2 m-1">Add Note</a>
        <a th:href="@{/}" class="btn btn-danger col-3 col-sm-3 col-md-3 col-lg-2 m-1">Cancel</a>
    </div>
</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>